
a{
	text-decoration: none;
  color: rgb(7, 175, 187);
}

#service-desktop{
  display: none;
}

#service-mobile{
  display: block;
}

@media screen and (min-width:600px) {
  #service-desktop{
    display: block;
  }
  
  #service-mobile{
    display: none;
  }
}

