#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}

a{
	text-decoration: none;
  color: white;
}

#service-desktop{
  display: none;
}

#service-mobile{
  display: block;
}

@media screen and (min-width:600px) {
  #service-desktop{
    display: block;
  }
  
  #service-mobile{
    display: none;
  }
}